<html>
<head>
    <title>paddy broker</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Telugu:wght@100..900&display=swap');
        body {
            font-family: 'Noto Sans Telugu', sans-serif;
        }
        table, th, td { border: 1px solid black; border-collapse: collapse; }
        
    </style>
</head>
<body>
     <h1 style="color: green; position: fixed; top: 0; left: 30px;">వరి మిత్ర</h1>
    
    {% block content %}
    {% endblock %}
</body>
</html>
